# Ignore system and config files
*.exe
*.msi
*.zip
*.rar
*.mp4
*.jpg
*.jpeg
*.png
*.pdf
*.docx
*.pptx
*.csv
*.tgz
*.txt
*.ini
node_modules/
__pycache__/
.DS_Store
*.log

# Ignore all parent directories
../
../../
../../../
